# Ignore everything
*

# === Allow HDL & constraint files only inside .srcs folders (recursively) ===
!*/.srcs/**/*.v
!*/.srcs/**/*.vh
!*/.srcs/**/*.sv
!*/.srcs/**/*.vhd
!*/.srcs/**/*.vhdl
!*/.srcs/**/*.xdc
!*/.srcs/**/*.tcl


